<form>
	<mat-form-field>
		<mat-icon matPrefix>search</mat-icon>
		<input
			matInput
			placeholder="Enter city or zip"
			aria-label="City or Zip"
<!-- property binding : a property called formControl that binds to the user's input called 'search'              -->
			[formControl]="search"
		/>
		<!-- property binding [formControl] names "search" of the user input in the text box -->
		<mat-hint>Specify country code like 'Redmond', 'US'</mat-hint>
		<mat-error *ngIf="search.invalid">
			Type more than three characters to search
		</mat-error>
	</mat-form-field>
</form>
